In [ ]:
Day 2 作業  

請下載本次馬拉松建議的 Kaggle 資料或準備好自己的資料
如採用 Kaggle 資料，請通過 HomeCredit_columns_description.csv，了解各個欄位的意義(csv檔可從檢視範例內的data資料夾下載)
請點下方檢視範例參考 Day_002_first_EDA.ipynb 檔案，了解如何讀取資料並可自行嘗試對資料進行操作，作業檔請提交Day_002_HW.ipynb

In [14]:
import os

import pandas as pd  #讀取CSV file，並所寫為pd
dir_data = 'C:/Users/user/Documents/GitHub/2nd-ML100Days/data/D2_sample'  #設定path

#data = pd.read_csv(dir_data_use[,'HomeCredit_columns_description.csv'])
f_app = os.path.join(dir_data, 'HomeCredit_columns_description.csv')
print('Path of read in data: %s' % (f_app))

data = pd.read_csv(os.path.join(dir_data, 'HomeCredit_columns_description_re.csv'))
#data = pd.read_csv('HomeCredit_columns_description_re.csv')  #注意python只能存取固定的編碼格式-->(UTF-8)
# https://blog.csdn.net/ssh5366/article/details/79419086
#fraw = pd.read_csv(dir_data, 'HomeCredit_columns_description.csv', encoding='utf-8))   #不知道哪裡不對

Path of read in data: C:/Users/user/Documents/GitHub/2nd-ML100Days/data/D2_sample\HomeCredit_columns_description.csv

In [8]:
data.head()  #用來觀察前 5 row (0~4)的資料

,Unnamed: 0,Table,Row,Description,Special,Unnamed: 5,Unnamed: 6
0,1,application_{train|test}.csv,SK_ID_CURR,ID of loan in our sample,NaN,NaN,NaN
1,2,application_{train|test}.csv,TARGET,Target variable (1 - client with payment diffi...,NaN,NaN,NaN
2,5,application_{train|test}.csv,NAME_CONTRACT_TYPE,Identification if loan is cash or revolving,NaN,NaN,NaN
3,6,application_{train|test}.csv,CODE_GENDER,Gender of the client,NaN,NaN,NaN
4,7,application_{train|test}.csv,FLAG_OWN_CAR,Flag if the client owns a car,NaN,NaN,NaN

In [18]:
data.info()
#有四個變數 Table, Row, Description, Special

data.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 7 columns):
Unnamed: 0     205 non-null int64
Table          205 non-null object
Row            205 non-null object
Description    205 non-null object
Special        80 non-null object
Unnamed: 5     1 non-null object
Unnamed: 6     1 non-null object
dtypes: int64(1), object(6)
memory usage: 11.3+ KB

TypeError: 'tuple' object is not callable

In [20]:
print(data)

     Unnamed: 0                         Table                          Row  \
0             1  application_{train|test}.csv                   SK_ID_CURR
1             2  application_{train|test}.csv                       TARGET
2             5  application_{train|test}.csv           NAME_CONTRACT_TYPE
3             6  application_{train|test}.csv                  CODE_GENDER
4             7  application_{train|test}.csv                 FLAG_OWN_CAR
5             8  application_{train|test}.csv              FLAG_OWN_REALTY
6             9  application_{train|test}.csv                 CNT_CHILDREN
7            10  application_{train|test}.csv             AMT_INCOME_TOTAL
8            11  application_{train|test}.csv                   AMT_CREDIT
9            12  application_{train|test}.csv                  AMT_ANNUITY
10           13  application_{train|test}.csv              AMT_GOODS_PRICE
11           14  application_{train|test}.csv              NAME_TYPE_SUITE
12           15  application_{train|test}.csv             NAME_INCOME_TYPE
13           16  application_{train|test}.csv          NAME_EDUCATION_TYPE
14           17  application_{train|test}.csv           NAME_FAMILY_STATUS
15           18  application_{train|test}.csv            NAME_HOUSING_TYPE
16           19  application_{train|test}.csv   REGION_POPULATION_RELATIVE
17           20  application_{train|test}.csv                   DAYS_BIRTH
18           21  application_{train|test}.csv                DAYS_EMPLOYED
19           22  application_{train|test}.csv            DAYS_REGISTRATION
20           23  application_{train|test}.csv              DAYS_ID_PUBLISH
21           24  application_{train|test}.csv                  OWN_CAR_AGE
22           25  application_{train|test}.csv                   FLAG_MOBIL
23           26  application_{train|test}.csv               FLAG_EMP_PHONE
24           27  application_{train|test}.csv              FLAG_WORK_PHONE
25           28  application_{train|test}.csv             FLAG_CONT_MOBILE
26           29  application_{train|test}.csv                   FLAG_PHONE
27           30  application_{train|test}.csv                   FLAG_EMAIL
28           31  application_{train|test}.csv              OCCUPATION_TYPE
29           32  application_{train|test}.csv              CNT_FAM_MEMBERS
..          ...                           ...                          ...
175         178      previous_application.csv           NAME_CONTRACT_TYPE
176         179      previous_application.csv                  AMT_ANNUITY
177         180      previous_application.csv              AMT_APPLICATION
178         181      previous_application.csv                   AMT_CREDIT
179         182      previous_application.csv             AMT_DOWN_PAYMENT
180         183      previous_application.csv              AMT_GOODS_PRICE
181         184      previous_application.csv   WEEKDAY_APPR_PROCESS_START
182         185      previous_application.csv      HOUR_APPR_PROCESS_START
183         186      previous_application.csv  FLAG_LAST_APPL_PER_CONTRACT
184         187      previous_application.csv       NFLAG_LAST_APPL_IN_DAY
185         188      previous_application.csv             NFLAG_MICRO_CASH
186         189      previous_application.csv            RATE_DOWN_PAYMENT
187         190      previous_application.csv        RATE_INTEREST_PRIMARY
188         191      previous_application.csv     RATE_INTEREST_PRIVILEGED
189         192      previous_application.csv       NAME_CASH_LOAN_PURPOSE
190         193      previous_application.csv         NAME_CONTRACT_STATUS
191         194      previous_application.csv                DAYS_DECISION
192         195      previous_application.csv            NAME_PAYMENT_TYPE
193         196      previous_application.csv           CODE_REJECT_REASON
194         197      previous_application.csv              NAME_TYPE_SUITE
195         198      previous_application.csv             NAME_CLIENT_TYPE
196         199      previous_application.csv          NAME_GOODS_CATEGORY
197         200      previous_application.csv               NAME_PORTFOLIO
198         215     installments_payments.csv                   SK_ID_CURR
199         216     installments_payments.csv       NUM_INSTALMENT_VERSION
200         217     installments_payments.csv        NUM_INSTALMENT_NUMBER
201         218     installments_payments.csv              DAYS_INSTALMENT
202         219     installments_payments.csv           DAYS_ENTRY_PAYMENT
203         220     installments_payments.csv               AMT_INSTALMENT
204         221     installments_payments.csv                  AMT_PAYMENT

                                           Description  \
0                             ID of loan in our sample
1    Target variable (1 - client with payment diffi...
2          Identification if loan is cash or revolving
3                                 Gender of the client
4                        Flag if the client owns a car
5                  Flag if client owns a house or flat
6                    Number of children the client has
7                                 Income of the client
8                            Credit amount of the loan
9                                         Loan annuity
10   For consumer loans it is the price of the good...
11   Who was accompanying client when he was applyi...
12   Clients income type (businessman, working, mat...
13      Level of highest education the client achieved
14                         Family status of the client
15   What is the housing situation of the client (r...
16   Normalized population of region where client l...
17     Client's age in days at the time of application
18   How many days before the application the perso...
19   How many days before the application did clien...
20   How many days before the application did clien...
21                                 Age of client's car
22       Did client provide mobile phone (1=YES, 0=NO)
23         Did client provide work phone (1=YES, 0=NO)
24         Did client provide home phone (1=YES, 0=NO)
25            Was mobile phone reachable (1=YES, 0=NO)
26         Did client provide home phone (1=YES, 0=NO)
27              Did client provide email (1=YES, 0=NO)
28        What kind of occupation does the client have
29            How many family members does client have
..                                                 ...
175  Contract product type (Cash loan, consumer loa...
176                    Annuity of previous application
177  For how much credit did client ask on the prev...
178  Final credit amount on the previous applicatio...
179           Down payment on the previous application
180  Goods price of good that client asked for (if ...
181  On which day of the week did the client apply ...
182  Approximately at what day hour did the client ...
183  Flag if it was last application for the previo...
184  Flag if the application was the last applicati...
185                            Flag Micro finance loan
186    Down payment rate normalized on previous credit
187        Interest rate normalized on previous credit
188        Interest rate normalized on previous credit
189                           Purpose of the cash loan
190  Contract status (approved, cancelled, ...) of ...
191  Relative to current application when was the d...
192  Payment method that client chose to pay for th...
193          Why was the previous application rejected
194  Who accompanied client when applying for the p...
195  Was the client old or new client when applying...
196  What kind of goods did the client apply for in...
197  Was the previous application for CASH, POS, CA...
198                           ID of loan in our sample
199  Version of installment calendar (0 is for cred...
200            On which installment we observe payment
201  When the installment of previous credit was su...
202  When was the installments of previous credit p...
203  What was the prescribed installment amount of ...
204  What the client actually paid on previous cred...

                                   Special  \
0                                      NaN
1                                      NaN
2                                      NaN
3                                      NaN
4                                      NaN
5                                      NaN
6                                      NaN
7                                      NaN
8                                      NaN
9                                      NaN
10                                     NaN
11                                     NaN
12                                     NaN
13                                     NaN
14                                     NaN
15                                     NaN
16                             normalized
17   time only relative to the application
18   time only relative to the application
19   time only relative to the application
20   time only relative to the application
21                                     NaN
22                                     NaN
23                                     NaN
24                                     NaN
25                                     NaN
26                                     NaN
27                                     NaN
28                                     NaN
29                                     NaN
..                                     ...
175                                    NaN
176                                    NaN
177                                    NaN
178                                    NaN
179                                    NaN
180                                    NaN
181                                    NaN
182                                rounded
183                                    NaN
184                                    NaN
185                                    NaN
186                             normalized
187                             normalized
188                             normalized
189                                    NaN
190                                    NaN
191  time only relative to the application
192                                    NaN
193                                    NaN
194                                    NaN
195                                    NaN
196                                    NaN
197                                      1
198                                 hashed
199                                    NaN
200                                    NaN
201  time only relative to the application
202  time only relative to the application
203                                    NaN
204                                    NaN

                                    Unnamed: 5 Unnamed: 6
0                                          NaN        NaN
1                                          NaN        NaN
2                                          NaN        NaN
3                                          NaN        NaN
4                                          NaN        NaN
5                                          NaN        NaN
6                                          NaN        NaN
7                                          NaN        NaN
8                                          NaN        NaN
9                                          NaN        NaN
10                                         NaN        NaN
11                                         NaN        NaN
12                                         NaN        NaN
13                                         NaN        NaN
14                                         NaN        NaN
15                                         NaN        NaN
16                                         NaN        NaN
17                                         NaN        NaN
18                                         NaN        NaN
19                                         NaN        NaN
20                                         NaN        NaN
21                                         NaN        NaN
22                                         NaN        NaN
23                                         NaN        NaN
24                                         NaN        NaN
25                                         NaN        NaN
26                                         NaN        NaN
27                                         NaN        NaN
28                                         NaN        NaN
29                                         NaN        NaN
..                                         ...        ...
175                                        NaN        NaN
176                                        NaN        NaN
177                                        NaN        NaN
178                                        NaN        NaN
179                                        NaN        NaN
180                                        NaN        NaN
181                                        NaN        NaN
182                                        NaN        NaN
183                                        NaN        NaN
184                                        NaN        NaN
185                                        NaN        NaN
186                                        NaN        NaN
187                                        NaN        NaN
188                                        NaN        NaN
189                                        NaN        NaN
190                                        NaN        NaN
191                                        NaN        NaN
192                                        NaN        NaN
193                                        NaN        NaN
194                                        NaN        NaN
195                                        NaN        NaN
196                                        NaN        NaN
197  2 or more previous loans in Home Credit)"     hashed
198                                        NaN        NaN
199                                        NaN        NaN
200                                        NaN        NaN
201                                        NaN        NaN
202                                        NaN        NaN
203                                        NaN        NaN
204                                        NaN        NaN

[205 rows x 7 columns]

In [22]:
dir_data = 'C:/Users/user/Documents/GitHub/2nd-ML100Days/data/D2_sample'  #設定path

#data = pd.read_csv(dir_data_use[,'HomeCredit_columns_description.csv'])
a_app = os.path.join(dir_data, 'heart.csv')
print('Path of read in data: %s' % (a_app))
train = pd.read_csv(a_app)

#https://www.kaggle.com/ronitf/heart-disease-uci

Path of read in data: C:/Users/user/Documents/GitHub/2nd-ML100Days/data/D2_sample\heart.csv

In [23]:
train.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [37]:
train.info()
#有14個變數，303個樣本
train.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
age         303 non-null int64
sex         303 non-null int64
cp          303 non-null int64
trestbps    303 non-null int64
chol        303 non-null int64
fbs         303 non-null int64
restecg     303 non-null int64
thalach     303 non-null int64
exang       303 non-null int64
oldpeak     303 non-null float64
slope       303 non-null int64
ca          303 non-null int64
thal        303 non-null int64
target      303 non-null int64
dtypes: float64(1), int64(13)
memory usage: 33.2 KB

(303, 14)

In [32]:
train.describe()  #資料中的數值計算:個數、平均數、標準差、最小值、最大值、四分位數
#?train.describe

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [38]:
train['sex'][0:303]

0      1
1      1
2      0
3      1
4      0
5      1
6      0
7      1
8      1
9      1
10     1
11     0
12     1
13     1
14     0
15     0
16     0
17     0
18     1
19     0
20     1
21     1
22     1
23     1
24     1
25     0
26     1
27     1
28     0
29     1
      ..
273    1
274    1
275    1
276    1
277    1
278    0
279    1
280    1
281    1
282    1
283    1
284    1
285    1
286    1
287    1
288    1
289    0
290    1
291    1
292    0
293    1
294    1
295    1
296    0
297    1
298    0
299    1
300    1
301    1
302    0
Name: sex, Length: 303, dtype: int64

In [44]:
train_1 = train.insert(15,column = 'group', value = 'right')
train_1.head()

AttributeError: 'NoneType' object has no attribute 'head'

In [51]:
print(train[['sex']]) #列出sex變數

print(train[train['sex'] == 0]) #列出sex變數為0的項目
print(train[(train['sex'] == 0) & train['fbs'] == 1]) #列出sex變數為0 且fbs為1的項目
train.describe(train[train['sex']] == 0)

     sex
0      1
1      1
2      0
3      1
4      0
5      1
6      0
7      1
8      1
9      1
10     1
11     0
12     1
13     1
14     0
15     0
16     0
17     0
18     1
19     0
20     1
21     1
22     1
23     1
24     1
25     0
26     1
27     1
28     0
29     1
..   ...
273    1
274    1
275    1
276    1
277    1
278    0
279    1
280    1
281    1
282    1
283    1
284    1
285    1
286    1
287    1
288    1
289    0
290    1
291    1
292    0
293    1
294    1
295    1
296    0
297    1
298    0
299    1
300    1
301    1
302    0

[303 rows x 1 columns]
     age  sex    new  cp  trestbps  chol  fbs  restecg  thalach  exang  \
2     41    0  right   1       130   204    0        0      172      0
4     57    0  right   0       120   354    0        1      163      1
6     56    0  right   1       140   294    0        0      153      0
11    48    0  right   2       130   275    0        1      139      0
14    58    0  right   3       150   283    1        0      162      0
15    50    0  right   2       120   219    0        1      158      0
16    58    0  right   2       120   340    0        1      172      0
17    66    0  right   3       150   226    0        1      114      0
19    69    0  right   3       140   239    0        1      151      0
25    71    0  right   1       160   302    0        1      162      0
28    65    0  right   2       140   417    1        0      157      0
30    41    0  right   1       105   198    0        1      168      0
35    46    0  right   2       142   177    0        0      160      1
36    54    0  right   2       135   304    1        1      170      0
38    65    0  right   2       155   269    0        1      148      0
39    65    0  right   2       160   360    0        0      151      0
40    51    0  right   2       140   308    0        0      142      0
43    53    0  right   0       130   264    0        0      143      0
48    53    0  right   2       128   216    0        0      115      0
49    53    0  right   0       138   234    0        0      160      0
50    51    0  right   2       130   256    0        0      149      0
53    44    0  right   2       108   141    0        1      175      0
54    63    0  right   2       135   252    0        0      172      0
59    57    0  right   0       128   303    0        0      159      0
60    71    0  right   2       110   265    1        0      130      0
65    35    0  right   0       138   183    0        1      182      0
67    45    0  right   1       130   234    0        0      175      0
69    62    0  right   0       124   209    0        1      163      0
74    43    0  right   2       122   213    0        1      165      0
75    55    0  right   1       135   250    0        0      161      0
..   ...  ...    ...  ..       ...   ...  ...      ...      ...    ...
147   60    0  right   3       150   240    0        1      171      0
151   71    0  right   0       112   149    0        1      125      0
153   66    0  right   2       146   278    0        0      152      0
154   39    0  right   2       138   220    0        1      152      0
155   58    0  right   0       130   197    0        1      131      0
161   55    0  right   1       132   342    0        1      166      0
167   62    0  right   0       140   268    0        0      160      0
181   65    0  right   0       150   225    0        0      114      0
182   61    0  right   0       130   330    0        0      169      0
190   51    0  right   0       130   305    0        1      142      1
204   62    0  right   0       160   164    0        0      145      0
207   60    0  right   0       150   258    0        0      157      0
213   61    0  right   0       145   307    0        0      146      1
215   43    0  right   0       132   341    1        0      136      1
216   62    0  right   2       130   263    0        1       97      0
220   63    0  right   0       150   407    0        0      154      0
223   56    0  right   0       200   288    1        0      133      1
241   59    0  right   0       174   249    0        1      143      1
246   56    0  right   0       134   409    0        0      150      1
252   62    0  right   0       138   294    1        1      106      0
258   62    0  right   0       150   244    0        1      154      1
260   66    0  right   0       178   228    1        1      165      1
263   63    0  right   0       108   269    0        1      169      1
266   55    0  right   0       180   327    0        2      117      1
278   58    0  right   1       136   319    1        0      152      0
289   55    0  right   0       128   205    0        2      130      1
292   58    0  right   0       170   225    1        0      146      1
296   63    0  right   0       124   197    0        1      136      1
298   57    0  right   0       140   241    0        1      123      1
302   57    0  right   1       130   236    0        0      174      0

     oldpeak  slope  ca  thal  target  group
2        1.4      2   0     2       1  right
4        0.6      2   0     2       1  right
6        1.3      1   0     2       1  right
11       0.2      2   0     2       1  right
14       1.0      2   0     2       1  right
15       1.6      1   0     2       1  right
16       0.0      2   0     2       1  right
17       2.6      0   0     2       1  right
19       1.8      2   2     2       1  right
25       0.4      2   2     2       1  right
28       0.8      2   1     2       1  right
30       0.0      2   1     2       1  right
35       1.4      0   0     2       1  right
36       0.0      2   0     2       1  right
38       0.8      2   0     2       1  right
39       0.8      2   0     2       1  right
40       1.5      2   1     2       1  right
43       0.4      1   0     2       1  right
48       0.0      2   0     0       1  right
49       0.0      2   0     2       1  right
50       0.5      2   0     2       1  right
53       0.6      1   0     2       1  right
54       0.0      2   0     2       1  right
59       0.0      2   1     2       1  right
60       0.0      2   1     2       1  right
65       1.4      2   0     2       1  right
67       0.6      1   0     2       1  right
69       0.0      2   0     2       1  right
74       0.2      1   0     2       1  right
75       1.4      1   0     2       1  right
..       ...    ...  ..   ...     ...    ...
147      0.9      2   0     2       1  right
151      1.6      1   0     2       1  right
153      0.0      1   1     2       1  right
154      0.0      1   0     2       1  right
155      0.6      1   0     2       1  right
161      1.2      2   0     2       1  right
167      3.6      0   2     2       0  right
181      1.0      1   3     3       0  right
182      0.0      2   0     2       0  right
190      1.2      1   0     3       0  right
204      6.2      0   3     3       0  right
207      2.6      1   2     3       0  right
213      1.0      1   0     3       0  right
215      3.0      1   0     3       0  right
216      1.2      1   1     3       0  right
220      4.0      1   3     3       0  right
223      4.0      0   2     3       0  right
241      0.0      1   0     2       0  right
246      1.9      1   2     3       0  right
252      1.9      1   3     2       0  right
258      1.4      1   0     2       0  right
260      1.0      1   2     3       0  right
263      1.8      1   2     2       0  right
266      3.4      1   0     2       0  right
278      0.0      2   2     2       0  right
289      2.0      1   1     3       0  right
292      2.8      1   2     1       0  right
296      0.0      1   0     2       0  right
298      0.2      1   0     3       0  right
302      0.0      1   1     2       0  right

[96 rows x 16 columns]
     age  sex    new  cp  trestbps  chol  fbs  restecg  thalach  exang  \
14    58    0  right   3       150   283    1        0      162      0
28    65    0  right   2       140   417    1        0      157      0
36    54    0  right   2       135   304    1        1      170      0
60    71    0  right   2       110   265    1        0      130      0
93    54    0  right   1       132   288    1        0      159      1
136   60    0  right   2       120   178    1        1       96      0
215   43    0  right   0       132   341    1        0      136      1
223   56    0  right   0       200   288    1        0      133      1
252   62    0  right   0       138   294    1        1      106      0
260   66    0  right   0       178   228    1        1      165      1
278   58    0  right   1       136   319    1        0      152      0
292   58    0  right   0       170   225    1        0      146      1

     oldpeak  slope  ca  thal  target  group
14       1.0      2   0     2       1  right
28       0.8      2   1     2       1  right
36       0.0      2   0     2       1  right
60       0.0      2   1     2       1  right
93       0.0      2   1     2       1  right
136      0.0      2   0     2       1  right
215      3.0      1   0     3       0  right
223      4.0      0   2     3       0  right
252      1.9      1   3     2       0  right
260      1.0      1   2     3       0  right
278      0.0      2   2     2       0  right
292      2.8      1   2     1       0  right

KeyError: "None of [Int64Index([1, 1, 0, 1, 0, 1, 0, 1, 1, 1,\n            ...\n            1, 1, 1, 0, 1, 0, 1, 1, 1, 0],\n           dtype='int64', length=303)] are in the [columns]"